.contact form{
    margin:0 auto;
    background-color: var(--light-bg);
    border-radius: .5rem;
    border:var(--border);
    padding:2rem;
    max-width: 50rem;
    margin:0 auto;
    text-align: center;
 }
 
 .contact form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color:var(--black);
 }
 
 .contact form .box{
    margin:1rem 0;
    width: 100%;
    border:var(--border);
    background-color: var(--white);
    padding:1.2rem 1.4rem;
    font-size: 1.8rem;
    color:var(--black);
    border-radius: .5rem;
 }
 
 .contact form textarea{
    height: 20rem;
    resize: none;
 }

 .breadcrumb{
    padding: 10px 16px;
    list-style: none;
    
  }
 
  .breadcrumb li{
    display: inline;
    font-size: 1.5rem;
  }
  

.breadcrumb li+li:before{
    padding: 8px;
    color: black;
    content: ">\00a0";
  }
  
 
.breadcrumb li a{
    color: #8b8c8d;
    text-decoration: none;
  } 
  
  
  .breadcrumb li a:hover{
    color: #f3cd5e;
   
  }

 